.header-container {
  min-height: 70px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-header-inner-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.upload-modal-label-container {
  padding-bottom: 20px;
}

.upload-photo-label {
  font-family: Noto Sans;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
}

.upload-photo-label-input {
  height: 40px;
  border-radius: 12px;
  border: 1px solid #4f4f4f;
  color: #bdbdbd;
  width: 100%;
}

.upload-photo-label-input:active,
.upload-photo-label-input:focus {
  border: 1px solid #3db46d;
}

.upload-button-container {
  margin: 10px 0;
}

.upload-button {
  padding: 10px;
  background-color: #3db46d;
  color: #ffffff;
  font-family: Noto Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 12px;
}

.search-input {
  padding: 12px;
  align-self: center;
  border: 1px solid #bdbdbd;
  /* color: #bdbdbd; */
  border-radius: 15px;
  outline: none;
  width: 300px;
}
